{% extends "accounts/header.html" %}

{% block content %}      

{% load crispy_forms_tags %}
<body style="background:url('https://media.istockphoto.com/photos/computer-notebook-laptop-on-table-at-electronics-store-in-shopping-picture-id918522004?k=6&m=918522004&s=170667a&w=0&h=zawuOeKJmG3HP8OLHUrWmAbPmLgFzYDpahy_XXCsHB0=')no-repeat;background-size:cover;">
<!--Login-->
<div class="container py-5">
  <h1>Login</h1>
  <form method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <p class="text-center">Don't have an account? <a href="{% url 'accounts:register' %}">Create an account</a>.</p>
</div>

{% endblock %}