{% extends "accounts/header.html" %}
{% block content %}
{% load crispy_forms_tags %}
<body style="background:url('https://media.istockphoto.com/photos/computer-notebook-laptop-on-table-at-electronics-store-in-shopping-picture-id918522004?k=6&m=918522004&s=170667a&w=0&h=zawuOeKJmG3HP8OLHUrWmAbPmLgFzYDpahy_XXCsHB0=')no-repeat;background-size:cover;">
<!--Register-->
<div class="container py-5">
	<h1>Register<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6QTESaLQXNJDpokdt6XZd3CmvIevt1VKmGQ&usqp=CAU" alt="Avatar" class="avatar"></h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="{% url 'accounts:login' %}">login</a> instead.</p>
</div>

{% endblock %}
</body>